@font-face {
  font-family: 'Product Sans Regular';
  src: url('./assets/fonts/product_sans_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

